.about {
  position: relative;

  padding-bottom: 107px;

  background-image: url("../img/about/bg-desktop.png");
  background-position: left 56%;
  background-repeat: no-repeat;
  background-size: 56%;

  @media (min-width: 1750px) {
    background-size: contain;
  }


  &::before {
    position: absolute;
    right: 0;
    top: -22%;

    width: 50%;
    height: 51%;

    background-image: url("../img/trainers/clouds.png");
    background-position-x: 98px;
    background-size: 87% 100%;
    background-repeat: no-repeat;

    content: "";

    @include vp-1199 {
      display: none;
    }
  }

  @include vp-1199 {
    padding-bottom: 23px;

    background-image: url("../img/about/bg-tablet.png");
    background-size: 62%;
    background-position: left 50%;
  }

  @include vp-767 {
    background-image: url("../img/about/bg-mobile.png");
    background-position: top left;
    background-size: 100%;
  }

  @media (min-width: 840px) and (max-width: 1199px) {
    padding-bottom: 100px;
  }

  @media (min-width: 1050px) and (max-width: 1199px) {
    padding-bottom: 185px;
  }
}

.about__wrapper {
  width: 48.8%;
  margin-left: auto;
  padding-top: 80px;

  h2 {
    @include title;

    margin-bottom: 53px;

    @include vp-1199 {
      margin-bottom: 21px;
    }

    @include vp-767 {
      margin-bottom: 27px;
    }
  }

  h3 {
    @include title-secondary;

    margin-bottom: 7px;
  }

  p {
    margin: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

    &:first-of-type {
      margin-bottom: 25px;

      @include vp-1199 {
        margin-bottom: 20px;
      }

      @include vp-767 {
        margin-bottom: 33px;
      }
    }

    @include vp-767 {
      line-height: 20px;
    }
  }

  @include vp-1199 {
    padding-top: 44px;
    width: 48%;
  }

  @include vp-767 {
    padding-top: 154%;
    width: 100%;
  }
}
