.btn {
  display: block;

  color: $color-default-white;

  border: none;
  cursor: pointer;
  user-select: none;

  &--primary {
    padding: 21px 0;

    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;

    background-color: $color-secondary;

    transition: background-color $trans-default, color $trans-default, box-shadow $trans-default;

    @include vp-767 {
      padding: 18px 0;
    }

    @include hover-focus {
      color: $color-active;
      background-color: $color-default-white;
      box-shadow: 0 0 0 1px $color-active inset;

      &:active {
        color: $color-default-white;

        background-color: $color-active;
      }
    }

    &:active {
      color: $color-default-white;

      background-color: $color-active;
    }

    &:focus,
    &:focus-visible {
      color: $color-active;

      background-color: $color-default-white;
      box-shadow: 0 0 0 1px $color-active inset;
      outline: none;
    }
  }

  &--play {
    width: 56px;
    height: 56px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;


    border-radius: 50%;
    border: 1px solid $color-default-white;
    background-color: rgb(255, 255, 255, 0.2);

    transition: background-color $trans-default, border $trans-default;

    svg {
      fill: $color-default-white;
      stroke: $color-transparent;
      stroke-width: 1px;

      transition: stroke $trans-default;
    }

    @include hover-focus {
      border-color: $color-active;
      background-color: $color-transparent;

      svg {
        stroke: $color-default-black;
      }

      &:active {
        background-color: $color-active;
      }
    }

    &:active {
      background-color: $color-active;
    }

    &:disabled {
      background-color: $color-active;
      opacity: 0.1;

      svg {
        fill: $color-active
      }
    }
  }

  &--slider {
    padding: 9px 12px;

    background-color: $color-secondary;

    transition: background-color $trans-default, color $trans-default, box-shadow $trans-default;

    &_next {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      fill: $color-default-white;

      transition: fill $trans-default;
    }

    @include hover-focus {
      background-color: $color-default-white;
      box-shadow: 0 0 0 1px $color-active inset;

      svg {
        fill: $color-active;
      }

      &:active {
        svg {
          fill: $color-default-white;
        }

        background-color: $color-active;
      }
    }

    &:active {
      svg {
        fill: $color-default-white;
      }

      background-color: $color-active;
    }

    &:focus,
    &:focus-visible {
      svg {
        fill: $color-active;
      }

      background-color: $color-default-white;
      box-shadow: 0 0 0 1px $color-active inset;
      outline: none;
    }
  }

  &:disabled {
    opacity: 0.2;

    pointer-events: none;
  }
}
