.container {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 120px;

  &--hero {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto auto;
    margin-top: 75px;

    @include vp-1199 {
      margin-top: 92px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @include vp-767 {
      margin-top: 66px;
    }
  }

  @include vp-1199 {
    padding: 0 45px;
  }

  @include vp-767 {
    padding: 0 15px;
  }
}
