@mixin retina {

  @media (min-resolution: $retina-dpi),
  (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-1440 {
  @media (min-width: $vp-1440) {
    @content;
  }
}

@mixin title {
  position: relative;
  z-index: 2;

  margin: 0;

  font-size: 36px;
  font-weight: 800;
  line-height: 35px;
  -webkit-text-stroke: 1px;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 56px;
    font-weight: 800;
    line-height: 55px;
    -webkit-text-stroke: 1px;
    color: $color-primary;

    opacity: 0.03;

    content: attr(data-content);
  }

  @include vp-1199 {
    font-size: 25px;
    line-height: 36px;
    letter-spacing: 0.01em;

    &::after {
      font-size: 39px;
      line-height: 39px;
    }
  }

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;

    &::after {
      font-size: 26px;
      line-height: 26px;
    }
  }
}

@mixin title-secondary {
  margin: 0;

  font-size: 21px;
  font-weight: 700;
  line-height: 35px
}

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
